

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye padding y bordes en el tamaño total */
}

/* Generales */

body {
    line-height: 1.6; /* Mejora la legibilidad */
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 25);
    font-size: 16px;
}

h1, h2, h3, p {
    margin: 0.4em 0; /* Margen vertical */
}

h1{
    font-size: 50px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 28px;
}

/* Citas */

blockquote, 
cite, 
.q {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Listas anidadas y años en la lista de descripción */

ul li, /* Listas anidadas */
ol li, /* Lista de descripción */
ul li time, /* Años dentro de time en listas no ordenadas */
ol li time { /* Años dentro de time en listas ordenadas */
    color: rgba(0, 0, 25, 0.5);
    list-style: none;
}

/* Enlaces dentro del texto */

a {
    color: rgb(240, 93, 80);
    text-decoration: none; /* Sin subrayado */
}

/* Estado hover de los enlaces */

a:hover {
    color: rgba(240, 93, 80, 0.5);
}

/* Cabecera */

.cabecera{
    text-align: center;
}

.cabecera__titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(240,93,80);
}
.cabecera__titulo:hover {
    color: rgba(240,93,80,0.5);
}

.cabecera__lista a {
    color: rgb(0, 0, 25);
}

.cabecera__lista a:hover {
    color: rgba(0, 0, 25, 0.5);
}

.cabecera__lista--activa {
    font-style: italic;
    font-weight: bold;
}
/* Pie de pagina */

.piedepagina {
    width: 100%;
    background-color: rgb(0, 0, 25);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px;
    margin-top: 100px;
}

.piedepagina a {
    color: rgb(255, 255, 255);
}

.piedepagina a:hover {
    color: rgb(240, 93 ,80);
}

/* Contenido */

.contenedor{
    width: 95%;
    max-width: 1140px;
    margin: 0 auto;
    }

.introduccion {
    text-align: center;    
}

.introduccion__parrafo{
    margin: 0px 120px;
}

.introduccion__piedepagina--autor{
    font-size: 28px;
}

.introduccion__piedepagina--fecha {
    text-transform: uppercase;
    font-size: 12px;
}

.introduccion__foto {
    margin-top: 40px;
}

.subtitulofigura {
    margin-top: 20px;
    font-size: 12px;
}

.cuerpo__enfasis {
    font-size: 20px;
    margin-right: 350px;
   font-weight: bold;
}

.cuerpo_youtube {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; 
    margin: 0 auto;
    padding: 1em 0;
    border: none; /* frameborder es obsoleto en HTML5 */
  } 

.cuerpo__cita{
    font-size: 20px;
    margin-left: 1.5em; /* Sangría a la izquierda */
}

.cita__autor{
    font-style: italic;
    font-size: 16px;
}

.articulo__autor{
    font-style: italic;
    margin-top: 50px;
}

/* listado-nobel-literatura.html */

.listapremios {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
    margin-top: 50px;
}

.listapremios__idioma{
    font-size: 25px;
    font-weight: bold;
}

.listapremios__idioma {
    background-image: url('../img/idioma.png'); /* Ruta de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding-left: 40px; /* Añade espacio para que no se superponga con el texto */
}

.listapremios__nombre{
    margin-left: 1.5em; /* Sangría a la izquierda */
    list-style: square;
    color: black;
    font-size: 20px;    
}

.listapremios__nombre--fecha{
    font-weight: bold;
    font-size: 25px;
}

/* motivacion-premios.html */

.introduccion__piedepagina--fechamotivacion{
    font-size: 20px;
}

.introduccion__piedepagina--oracion{
    text-transform: uppercase;
    font-size: 12px;
}

.listapremiosmotivacion{
    margin-top: 50px;
}

.listapremiosmotivacion__nombre{
    font-size: 28px;
    font-weight: bold;
}

.listapremiosmotivacion__motivacion {
    margin-left: 1.5em; /* Sangría a la izquierda */
    font-size: 20px;
}

.listapremiosmotivacion__motivacion--fecha {
    font-weight: bold;
    font-size: 25px;
    color: #7c7d8b;
}

.listapremiosmotivacion__motivacion--texto {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.articulo__fuente{
    text-align: center;
    margin-top: 50px;
}